examples/all-endpoints.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2192,
        -176
      ],
      "id": "3246148d-5d7f-406c-b57b-ca5f8e9c595c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/Users/griffinsharp/Desktop/exclamation.m4a",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1856,
        -176
      ],
      "id": "1f17c85b-3bab-45a6-aceb-23a647f8c2a6",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "file",
        "fileInput": "data"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -1632,
        -176
      ],
      "id": "a223b840-f697-4f4e-94c2-bc65e0589f65",
      "name": "Upload a file",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "audioUrl": "={{ $json.upload_url }}",
        "additionalFields": {
          "language_detection": true,
          "redact_pii": true,
          "redact_pii_audio": true,
          "redact_pii_policies": [
            "email_address"
          ],
          "speaker_labels": true
        }
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -1408,
        -176
      ],
      "id": "16b7f516-993b-4864-b700-07ac00e50ee5",
      "name": "Create a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getParagraphs",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -784,
        -896
      ],
      "id": "35314cc5-aef1-4aac-8f94-d0836dc1da7c",
      "name": "Get paragraphs",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getRedactedAudio",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -784,
        -704
      ],
      "id": "9af4ac9b-005b-457f-9a2c-d2dc92a425f6",
      "name": "Get redacted audio",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getSentences",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -784,
        -512
      ],
      "id": "31005e55-f047-4285-bd7b-463a0c3dfd5c",
      "name": "Get sentences",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getSubtitles",
        "subtitlesTranscriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -784,
        -320
      ],
      "id": "f72e5b81-da0b-478e-bcad-88150bd45889",
      "name": "Get subtitles",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "listAdditionalFields": {}
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -752,
        176
      ],
      "id": "7df56ea8-1f99-41c7-bf86-44caf31b22cc",
      "name": "List transcriptions",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "wordSearch",
        "transcriptId": "={{ $json.id }}",
        "wordsList": "hey, wow, aai"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -784,
        -1072
      ],
      "id": "f4efece2-6bbc-49e0-9c98-b3b1fe595416",
      "name": "Search words",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "task",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "final_model": "anthropic/claude-3-haiku",
        "prompt": "What is this transcript about?"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -320,
        368
      ],
      "id": "abceea6e-8289-47c3-9c4f-555088614b1d",
      "name": "Run custom task",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "questionAnswer",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "context": "This is a test call. ",
        "questions": {
          "question": [
            {
              "question": "Is the customer happy?",
              "answer_format": "Short sentence"
            },
            {
              "question": "Is the customer mad?",
              "answerType": "options",
              "answer_options": {
                "option": [
                  {
                    "value": "No"
                  },
                  {
                    "value": "Yes"
                  },
                  {
                    "value": "Not sure"
                  }
                ]
              }
            },
            {
              "question": "Is the customer angry?",
              "answer_format": "Percentage out of 100."
            }
          ]
        }
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -320,
        176
      ],
      "id": "0cb62f1f-ebe2-44e6-b514-da70794d3865",
      "name": "Question and answer",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "context": "This is a test call. ",
        "final_model": "anthropic/claude-3-haiku"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "30d0c096-eed6-4c09-b78f-9cecb00282cc",
      "name": "Generate summary",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        160
      ],
      "id": "a869eac6-29bf-482e-8e02-ba8a582c2f1e",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "getResponse",
        "lemurRequestId": "={{ $json.request_id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        128,
        176
      ],
      "id": "6a72f989-d918-4903-9ead-a6744aa03ab1",
      "name": "Get LeMUR response",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "purgeData",
        "lemurRequestId": "={{ $json.request_id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "8c5e897d-4803-413b-96f4-2d4409cdc715",
      "name": "Purge LeMUR data",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "transcriptId": "={{ $('List transcriptions').item.json.transcripts[0].id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        576,
        176
      ],
      "id": "a9e76930-95e0-4a0b-b62c-bb03147bdfd2",
      "name": "Delete a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## File upload and transcript creation",
        "height": 240,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        -240
      ],
      "typeVersion": 1,
      "id": "74292922-dcf4-4d3c-b18c-69aecf5adbde",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## LeMUR",
        "height": 624,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -64
      ],
      "typeVersion": 1,
      "id": "ead87341-a9b8-4ccb-9666-4b064f630697",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Transcript endpoints",
        "height": 1008,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -1152
      ],
      "typeVersion": 1,
      "id": "c0aa58ae-2852-413d-a56a-97610a84613b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "waitForCompletion",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        -1200,
        -176
      ],
      "id": "18d19437-413c-4148-b2a3-ce57234230af",
      "name": "Wait for transcript completion",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Create a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a transcription": {
      "main": [
        [
          {
            "node": "Wait for transcript completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List transcriptions": {
      "main": [
        [
          {
            "node": "Run custom task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Question and answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and answer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run custom task": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get LeMUR response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LeMUR response": {
      "main": [
        [
          {
            "node": "Purge LeMUR data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge LeMUR data": {
      "main": [
        [
          {
            "node": "Delete a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for transcript completion": {
      "main": [
        [
          {
            "node": "List transcriptions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search words",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get paragraphs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get redacted audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get sentences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "065a7f28-811d-45d8-a7f4-bc9625ee63ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078674efbaa742b4fb7e769c2f15288ee9b39297f02adacf5df6f21b52ec7200"
  },
  "id": "KX8WRETbgOBJ8Wnd",
  "tags": []
}