examples/all-endpoints-with-polling.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -160
      ],
      "id": "369e5388-1b78-4956-b80d-9d6706914919",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/file/path/here",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        16,
        -160
      ],
      "id": "518ed97a-9a0c-4f7c-92d8-9d2ab5a4ff42",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "resource": "file",
        "fileInput": "data"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        240,
        -160
      ],
      "id": "e78ca5a1-7f66-47a7-ad62-08f2477f308a",
      "name": "Upload a file",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "audioUrl": "={{ $json.upload_url }}",
        "additionalFields": {
          "language_detection": true,
          "redact_pii": true,
          "redact_pii_audio": true,
          "redact_pii_policies": [
            "email_address"
          ],
          "speaker_labels": true
        }
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        464,
        -160
      ],
      "id": "850b9bfa-a0e5-4a8a-8aa2-64acc2d631d7",
      "name": "Create a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        336
      ],
      "id": "b93d9d07-7334-467c-b7c1-d59f905b8ac3",
      "name": "Wait",
      "webhookId": "14b99c41-f330-454a-8116-56347d1a82aa"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c9e6dc42-58e5-47fb-9636-b59fc35ffd3d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fc6159a-9d2a-4792-9d2c-dd9f6f5f7ced",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "=queued",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ca50d5e-6bea-4823-8cc5-e1a7076480bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "137cdde1-480b-4b61-9c81-076a6823bb39",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        880,
        -352
      ],
      "id": "3b9c8e9d-4eb2-4653-940f-1d4f166fe604",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        752,
        -160
      ],
      "id": "4970eb62-390f-4c07-8643-d64de7cddad8",
      "name": "Get a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "An error occurred. "
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        976,
        192
      ],
      "id": "868d51da-3f08-49e1-866f-b7357180a931",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "getParagraphs",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1312,
        -1072
      ],
      "id": "0ea1b5da-8634-4381-b286-3ff91d60e5f0",
      "name": "Get paragraphs",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getRedactedAudio",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1312,
        -880
      ],
      "id": "2f217b19-a793-463e-beb7-a7042782ca61",
      "name": "Get redacted audio",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getSentences",
        "transcriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1312,
        -688
      ],
      "id": "86d0e29c-b236-4957-95b8-1485987be6ba",
      "name": "Get sentences",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getSubtitles",
        "subtitlesTranscriptId": "={{ $json.id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1312,
        -496
      ],
      "id": "d403dc76-65d5-4c11-bab7-c94f4ec0ac71",
      "name": "Get subtitles",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "listAdditionalFields": {}
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "id": "81e45ea1-fbc0-47c0-a30d-5e666e36d336",
      "name": "List transcriptions",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "wordSearch",
        "transcriptId": "={{ $json.id }}",
        "wordsList": "hey, wow, aai"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1312,
        -1248
      ],
      "id": "689a7811-788b-44b1-a05e-000dc3b2a386",
      "name": "Search words",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "task",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "final_model": "anthropic/claude-3-haiku",
        "prompt": "What is this transcript about?"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1776,
        192
      ],
      "id": "f0f394e6-6556-409f-919b-67f4f678460d",
      "name": "Run custom task",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "questionAnswer",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "context": "This is a test call. ",
        "questions": {
          "question": [
            {
              "question": "Is the customer happy?",
              "answer_format": "Short sentence"
            },
            {
              "question": "Is the customer mad?",
              "answerType": "options",
              "answer_options": {
                "option": [
                  {
                    "value": "No"
                  },
                  {
                    "value": "Yes"
                  },
                  {
                    "value": "Not sure"
                  }
                ]
              }
            },
            {
              "question": "Is the customer angry?",
              "answer_format": "Percentage out of 100."
            }
          ]
        }
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1776,
        0
      ],
      "id": "612c9952-2107-4272-9424-1615b39dfd27",
      "name": "Question and answer",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "lemurTranscriptIds": "={{ $json.transcripts[0].id }}",
        "context": "This is a test call. ",
        "final_model": "anthropic/claude-3-haiku"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        1776,
        -192
      ],
      "id": "0ddf33bd-1c0a-4e03-9bfb-cf8b3488b0c3",
      "name": "Generate summary",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        -16
      ],
      "id": "7970ae30-a847-4002-90f2-4c261057fc20",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "getResponse",
        "lemurRequestId": "={{ $json.request_id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        2224,
        0
      ],
      "id": "9e535c49-be04-4d22-bf3c-2bbf526ec5ab",
      "name": "Get LeMUR response",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lemur",
        "operation": "purgeData",
        "lemurRequestId": "={{ $json.request_id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        2448,
        0
      ],
      "id": "5e8784ef-d985-4740-afe4-efde5d06a393",
      "name": "Purge LeMUR data",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "transcriptId": "={{ $('List transcriptions').item.json.transcripts[0].id }}"
      },
      "type": "CUSTOM.assemblyAi",
      "typeVersion": 1,
      "position": [
        2672,
        0
      ],
      "id": "ea5abc32-9037-4491-9d04-cb56d5d98f14",
      "name": "Delete a transcription",
      "credentials": {
        "assemblyAiApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "AssemblyAI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## File upload and transcript creation",
        "height": 240,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -224
      ],
      "typeVersion": 1,
      "id": "ef35f533-6fb3-4614-8c0d-74449ea33f96",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Polling for transcript status",
        "height": 992,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -448
      ],
      "typeVersion": 1,
      "id": "0f679f73-7b0d-4b01-9b0c-2a9de628c9b9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## LeMUR",
        "height": 624,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -240
      ],
      "typeVersion": 1,
      "id": "d766a7c9-6f4b-4981-8061-e3ff0299e7be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Transcript endpoints",
        "height": 1008,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -1328
      ],
      "typeVersion": 1,
      "id": "ca3d2d0b-df15-47c0-bff8-656c8f3c227e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Create a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a transcription": {
      "main": [
        [
          {
            "node": "Get a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a transcription": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get paragraphs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get redacted audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get sentences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get subtitles",
            "type": "main",
            "index": 0
          },
          {
            "node": "List transcriptions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search words",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List transcriptions": {
      "main": [
        [
          {
            "node": "Run custom task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Question and answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and answer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate summary": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run custom task": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get LeMUR response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LeMUR response": {
      "main": [
        [
          {
            "node": "Purge LeMUR data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge LeMUR data": {
      "main": [
        [
          {
            "node": "Delete a transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fc360f4-c5e3-4296-af5e-e8abe2a14b24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "078674efbaa742b4fb7e769c2f15288ee9b39297f02adacf5df6f21b52ec7200"
  },
  "id": "7GP7SMeWZpYqW1In",
  "tags": []
}